@media(max-width: 375px){

    .container{
    background-color: var(--color-body-backgroung);
    padding: 10px;
    }

    .padding{
    padding: 14px 20px;
    }

    header {
        .header_main {
            
            .header_logo_menu{
                display: flex;
                gap: 10px;
                align-items: center;
            }
            .header_nav{
                nav{
                    display: none;
                } 
            }

            .header_controls{
   
                .language {
                    display: none;
                }
            }
        }     
    }

// main

    .main_banner{
       
        .main_banner_container{
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
            .main_banner_text{
                .email_form{
                    input{
                        width: 100%;
                    }
                    button{
                        left: 190px;
                    }
                }
            }
        }
    }


// advantages
    .advantages{
        h2{
            font-size: 20px ;
        }
        .advantages_items{
            display: grid;
            grid-template-columns: 1fr; 
            gap: 20px;

            .advantages_items_card{
                max-width: 100%;
                p{
                    font-size: 14px;
                }
            }
        }
    }


// how we week

.how_we_work{
    background: 
    radial-gradient(circle at bottom left, #D3B9E5, transparent 35%),
    radial-gradient(  circle at right 60%, 
    #D3B9E5, #D1D0F6, transparent 45%);
    height: auto;
    padding-bottom: 50px;

    .how_we_work_content{
        .how_we_work_item{
            flex-direction: column;
            gap: 20px;

            .how_we_work_img{
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
                
            }

            .how_we_work_content_text{
                gap: 30px;
                width: auto;
                }

            }
        }
    }

    //tariff

    .tariff{
        .variant_tariff{

            grid-template-columns: 1fr;
            gap: 30px;

            .tariff_card{
                width: 100%;
            }

        }
    }

    // reviews

    .reviews{
        .reviews_item{

            .reviews_card{

                width: 100%;
                p{
                    font-size: 14px;
                }
            }

        }


        .reviews_button{
            display: none;
        }
    }

    //mailing

    .mailing{
        display: flex;
        flex-direction: column;
        align-items: center;

        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        .mailing_text{
            display: flex;
            flex-direction: column;
            gap: 10px;

            h2{
                @include text-fluid(18, 36);
            }
            .email_form{
                input{
                    width: 100%;
                }
                .submit_button{
                    right: 24px;
                }
            }
        }
    }

    //feedback
    .feedback{
        .feedback_container{

            img{
                display: none;
            }

            .form_text{
                form{
                    .form_input{
                        
                        input{
                            width: 100%;
                        }
                    }
                }
                .form_button{
                    flex-direction: column;
                    button{
                        width: 100%;
                    }
                    p{
                        width: 90%;
                    }
                }
            }
        }
    }
}
