.accordion{
    background: 
    radial-gradient(circle at bottom left, #D3B9E5, transparent 35%),
    radial-gradient(  circle at 88% top, 
    #D3B9E5, #D1D0F6, transparent 45%);
    .accordion_items{
        display: flex;
        flex-direction: column;
        gap: 10px;
        h2{
        color: var( --color-text-dark-grey);
        @include text-fluid(36, 36);
        padding-bottom: 30px;
        }
        .label{

            p{
                color: var( --color-text-dark-grey);
                @include text-fluid(36, 36);
            }
            display: flex;
            justify-content: space-between;
            padding: 16px 20px;
            border-radius: 16px;
            background-color: #fff ;
        }
        .content{
            padding: 16px 20px;
        }
        .box {
            border-radius: 15px;
            overflow: hidden;
            background: white;
            box-shadow: 0px 2px 5px #30323921;
            padding: 10px 5px;
        }


    }
}