.feedback{
    .feedback_container{
        display: flex;
        align-items: center;
        gap: 10vw;

        .form_text{
            max-width: 450px;
            display: flex;
            flex-direction: column;
            gap: 20px;

            h2{
                color: var( --color-text-dark-grey);
                @include text-fluid(26, 36);
            }

            p{

            }
            form{
                display: flex;
                flex-direction: column;
                gap: 15px;
                .form_input{
                    
                    input{
                        padding: 20px;
                        background-color: #F2F2F2;
                        outline: none;
                        border: none;
                        width: 450px;
                        border-radius: 10px;
                    }

                }
                .form_button{
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    p{
                        line-height: 12px;
                        @include text-fluid(12, 12);

                        a{
                            color: var(--blue-color)
                        }
                    }
                }
            }
        }
        

    }
}