footer{
    background-color: var(--blue-color);
    display: flex;
    justify-content: space-between;
    color: var(--color-text-while);
    align-items: center;
    .footer_text{
        p{
            color: var(--color-text-while);
            @include text-fluid(12,12);
        }
    }

    .Return_to_top{
        cursor: pointer;
        display: flex;
        gap: 10px;
        p{
            color: var(--color-text-while);
        }
        
    }
}