header {
    max-height: 80px;

    .header_main {

        display: flex;
        align-items: center;
        justify-content: space-between;

        img{
            display: none;
        }
    
        .logo {
            color: var(--blue-color);
            @include text-fluid(18, 18); 
            font-weight: 500;
            cursor: pointer;
        }

        .header_nav{
            display: flex;
            align-items: center;
            gap: 20vw;

            nav{
                display: flex;
                gap: 30px;
                
                a{
                    color: var(--color-text-gray);
                }
            } 
        }

        .header_controls{

            display: flex;
            align-items: center;
            gap: 10px;

            img{
                display: none;
            }
        
            .language {
                display: flex;
                align-items: center;

                p:first-child{
                    color: var(--blue-color);
                }

                p{
                    color: var(--color-text-gray);
                }
            }
        }
    }     
}