.header {
  padding: 16px 0;

  display: flex;
  justify-content: center;
  align-items: center;

  &__inner {
    width: 95%;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    column-gap: 15px;

    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
      font-weight: 500;
      font-size: 1rem;

      a {
        color: var(--blue-color);
      }
    }

    img {
      display: none;
    }
  }

  &__nav {
    gap: 60px;

    display: flex;
  }

  &__menu {
    column-gap: 15px;

    display: flex;
    align-items: center;
  }

  &__controls {
    column-gap: 15px;
    display: flex;
    align-items: center;
    justify-content: center;

    .controls__languages {
      column-gap: 5px;
      display: flex;
      align-items: center;

      p{
        cursor: pointer;
      }
    }

    a {
      width: 100%;
    }

    img {
      display: none;
    }
  }
}