.how-we-work {
  background: radial-gradient(circle at bottom left, #D3B9E5, transparent 35%), radial-gradient(circle at 88% top, #D3B9E5, #D1D0F6, transparent 45%);

    &__img img{
        width: 100%;
        height: auto;
        object-fit: contain;
  }

  &__content {
    h2 {
      padding: 50px 0 30px;
      font-size: 2rem;
      color: var(--color-text-dark-grey);
    }
  }

  &__item {
    display: flex;
    gap: 20px;
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 40%;

    h3 {
      font-size: 2rem;
      color: var(--color-text-dark-grey);
    }
  }


  &__scroll {
    display: flex;
    gap: 30px;
    cursor: pointer;

    p:not(:last-child) {
      position: relative;
      padding-right: 30px;

      &::before {
        content: "";
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%) rotate(90deg);
        width: 1px;
        height: 20px;
        background: #fff;
        border-radius: 2px;
      }
    }

    p:first-child {
      color: var(--blue-color);
    }
  }

  &__btn {
    padding-top: 3vw;
    .button {
      width: 200px;
    }
  }
}