.reviews {
  background: 
    radial-gradient(circle at bottom right, #D0C3EE, transparent 35%),
    radial-gradient(circle at 88% top, #d3b9e5, transparent 35%);
  
    padding: 20px 0;
    animation: gradientRewievs 10s infinite;

    @keyframes gradientRewievs {
      0% {
        background: 
          radial-gradient(circle at bottom right, #d0c3ee, transparent 35%),
          radial-gradient(circle at 88% top, #d3b9e5, transparent 35%);
      }
      10% {
        background: 
          radial-gradient(circle at bottom right, #d1c6f0, transparent 35%),
          radial-gradient(circle at 88% top, #d2bce6, transparent 35%);
      }
      20% {
        background: 
          radial-gradient(circle at bottom right, #d2cbf2, transparent 35%),
          radial-gradient(circle at 88% top, #d2c1eb, transparent 35%);
      }
      30% {
        background: 
          radial-gradient(circle at bottom right, #d2d0f5, transparent 35%),
          radial-gradient(circle at 88% top, #d2cdf5, transparent 35%);
      }
      40% {
        background: 
          radial-gradient(circle at bottom right, #d1d0f6, transparent 35%),
          radial-gradient(circle at 88% top, #d1d0f6, transparent 35%);
      }
      50% {
        background: 
          radial-gradient(circle at bottom right, #d2d0f2, transparent 35%),
          radial-gradient(circle at 88% top, #d2d0f0, transparent 35%);
      }
      60% {
        background: 
          radial-gradient(circle at bottom right, #d2cbf2, transparent 35%),
          radial-gradient(circle at 88% top, #d2c1eb, transparent 35%);
      }
      70% {
        background: 
          radial-gradient(circle at bottom right, #d3cdef, transparent 35%),
          radial-gradient(circle at 88% top, #d3bde1, transparent 35%);
      }
      80% {
        background: 
          radial-gradient(circle at bottom right, #d0c3ee, transparent 35%),
          radial-gradient(circle at 88% top, #d3b9e5, transparent 35%);
      }
      90% {
        background: 
          radial-gradient(circle at bottom right, #d1c6f4, transparent 35%),
          radial-gradient(circle at 88% top, #d2bbf0, transparent 35%);
      }
      100% {
        background: 
          radial-gradient(circle at bottom right, #d0c3ee, transparent 35%),
          radial-gradient(circle at 88% top, #d3b9e5, transparent 35%);
      }
  }

  &__inner {
    position: relative;
    height: 900px;

    margin: 40px 0;
  }

  &__card {
    position: absolute;
    border-radius: 15px;
    width: 630px;
    background: #fff;

    .card__title {
      display: flex;
      background-color: #fff;
      align-items: center;
      justify-content: space-between;
      padding: 20px 20px 15px 20px;
      border-bottom: 1px solid #eee;
    }
  }

  &__user {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  &__card__content {
    background-color: #F9F9F9;
    padding: 20px;
    box-sizing: border-box;
  }

  &__card:nth-child(1) {
    top: 3vw;
    left: 20vw;
    z-index: 4;
  }

  &__card:nth-child(4) {
    top: 8vw;
    left: 0;
    z-index: 3;
  }

  &__card:nth-child(3) {
    bottom: 13vw;
    left: 10vw;
    z-index: 1;
  }

  &__card:nth-child(2) {
    bottom: 22vw;
    right: 0;
    z-index: 2;
  }

  &__button {
    color: var(--blue-color);
    padding: 12px 20px;
    background-color: var(--color-text-while); 
    border-radius: 15px;
    width: 300px;
    margin-left: auto;
    text-align: center;
    margin-bottom: 50px;
    font-weight: 600;
    cursor: pointer;
  }
}