.tariff {
    
  h2 {
    padding: 50px 0;
    color: var(--color-text-dark-grey);
    font-size: 2rem;
  }

  &__variant {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding-bottom: 10%;
  }

  &__card {
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    transition: all 0.5s ease;
    background-color: #F8F8F8;

  }

  &__card:hover{
     box-shadow: -5px 14px 20px rgba(0, 0, 0, 0.15);
  }

  &__price {
    background-color: #fff;
    padding: 20px;
    

    h4 {
      color: var(--color-text-dark-grey);
      @include text-fluid(24, 24);
    }

    p {
      @include text-fluid(24, 24);
    }

    span {
      color: var(--blue-color);
    }
  }

  &__feature {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 20px;
  }

  &__card-info {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
  
        a {
            padding: 14px 40px;
            border-radius: 15px;
            color: var(--blue-color);
            text-align: center;
            background-color: #fff;
        }

        a:hover{
          box-shadow: 0 10px 10px #505dec28;
        }
    }
}