body {
  background-color: var(--color-body-backgroung);
  font-family: "Visuelt Pro";
}

html {
  font-size: 18px;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: var(--color-text-gray);
}

.inner {
  background-color: var(--wrapper-color);
  border-radius: 15px;
  margin: 0 auto;
  max-width: 1440px;
}

.wrapper {
  background-color: var(--color-body-backgroung);
  padding: 20px;
}

p {
  color: var(--color-text-gray);
}

.button {
  color: var(--color-text-while);
  padding: 12px 2vw;
  background-color: var(--blue-color);
  font-size: 1rem;
  border-radius: 10px;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  cursor: pointer;
}

.button:hover {
  background-color: var(--hover-blue);
  padding: 10px 2vw 14px;
  -webkit-box-shadow: 0 0 30px rgba(80, 93, 236, 0.2509803922);
          box-shadow: 0 0 30px rgba(80, 93, 236, 0.2509803922);
}

.button:active {
  background-color: var(--active-dark-blue);
  -webkit-box-shadow: 0 8 24px rgba(60, 73, 221, 0.1019607843);
          box-shadow: 0 8 24px rgba(60, 73, 221, 0.1019607843);
}

button {
  border: none;
}

.active {
  color: var(--blue-color);
}

.container {
  margin: 0 auto;
  width: 95%;
}

.blue-text {
  color: var(--blue-color);
}

.structured {
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}
.structured .reviews__card {
  position: static;
  margin-bottom: 30px;
}

input.hovering::-webkit-input-placeholder {
  color: #626EEB;
}

input.hovering::-moz-placeholder {
  color: #626EEB;
}

input.hovering:-ms-input-placeholder {
  color: #626EEB;
}

input.hovering::-ms-input-placeholder {
  color: #626EEB;
}

input.hovering::placeholder {
  color: #626EEB;
}

input:focus {
  -webkit-box-shadow: 0 8px 15px rgba(3, 0, 36, 0.2588235294);
          box-shadow: 0 8px 15px rgba(3, 0, 36, 0.2588235294);
}

.reviews_p {
  display: block;
}

.no-scroll {
  overflow: hidden;
}

.controls__languages--active {
  color: var(--blue-color);
}