:root {
  --color-body-backgroung:#F2F2F2;
  --blue-color: #4754EB;
  --wrapper-color: #FFFFFF;
  --color-text-gray: #808080;
  --color-text-while: #fff;
  --color-text-dark-grey:#1A1A1A;
  --hover-blue: #626EEB;
  --active-dark-blue:#2F3BB7;
}

