@font-face {
  font-family: Visuelt Pro;
  src: url("/assets/fonts/VisueltPro-Regular.woff2");
}
body {
  background-color: var(--color-body-backgroung);
  font-family: "Visuelt Pro";
}

html {
  font-size: 18px;
}

a {
  text-decoration: none;
  color: var(--color-text-gray);
}

.inner {
  background-color: var(--wrapper-color);
  border-radius: 15px;
  margin: 0 auto;
  max-width: 1440px;
}

.wrapper {
  background-color: var(--color-body-backgroung);
  padding: 20px;
}

p {
  color: var(--color-text-gray);
}

.button {
  color: var(--color-text-while);
  padding: 12px 2vw;
  background-color: var(--blue-color);
  font-size: 1rem;
  border-radius: 10px;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  cursor: pointer;
}

.button:hover {
  background-color: var(--hover-blue);
  padding: 10px 2vw 14px;
  -webkit-box-shadow: 0 0 30px rgba(80, 93, 236, 0.2509803922);
          box-shadow: 0 0 30px rgba(80, 93, 236, 0.2509803922);
}

.button:active {
  background-color: var(--active-dark-blue);
  -webkit-box-shadow: 0 8 24px rgba(60, 73, 221, 0.1019607843);
          box-shadow: 0 8 24px rgba(60, 73, 221, 0.1019607843);
}

button {
  border: none;
}

.active {
  color: var(--blue-color);
}

.container {
  margin: 0 auto;
  width: 95%;
}

.blue-text {
  color: var(--blue-color);
}

.structured {
  padding: 30px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.structured .reviews__card {
  position: static;
  margin-bottom: 30px;
}

input.hovering::-webkit-input-placeholder {
  color: #626EEB;
}

input.hovering::-moz-placeholder {
  color: #626EEB;
}

input.hovering:-ms-input-placeholder {
  color: #626EEB;
}

input.hovering::-ms-input-placeholder {
  color: #626EEB;
}

input.hovering::placeholder {
  color: #626EEB;
}

input:focus {
  -webkit-box-shadow: 0 8px 15px rgba(3, 0, 36, 0.2588235294);
          box-shadow: 0 8px 15px rgba(3, 0, 36, 0.2588235294);
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: pointer;
}

:root {
  --color-body-backgroung:#F2F2F2;
  --blue-color: #4754EB;
  --wrapper-color: #FFFFFF;
  --color-text-gray: #808080;
  --color-text-while: #fff;
  --color-text-dark-grey:#1A1A1A;
  --hover-blue: #626EEB;
  --active-dark-blue:#2F3BB7;
}

.header {
  padding: 16px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__logo {
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header__logo h1 {
  font-weight: 500;
  font-size: 1rem;
}
.header__logo h1 a {
  color: var(--blue-color);
}
.header__logo img {
  display: none;
}
.header__nav {
  gap: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__menu {
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.header__menu a:hover {
  color: var(--hover-blue);
}
.header__menu a:active {
  color: var(--active-dark-blue);
}
.header__controls {
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header__controls .controls__languages {
  -webkit-column-gap: 5px;
     -moz-column-gap: 5px;
          column-gap: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__controls .controls__languages p {
  cursor: pointer;
}
.header__controls .controls__languages p:hover {
  color: var(--hover-blue);
}
.header__controls img {
  display: none;
}

.main-banner {
  background: radial-gradient(circle at bottom left, #D3B9E5, #D1D0F6, transparent 35%);
  -webkit-animation: gradient 10s infinite;
          animation: gradient 10s infinite;
}
@-webkit-keyframes gradient {
  0% {
    background: radial-gradient(circle at bottom left, #d3b9e5, #d1d0f6, transparent 35%);
  }
  10% {
    background: radial-gradient(circle at bottom left, #d2bce6, #d2cdf5, transparent 35%);
  }
  20% {
    background: radial-gradient(circle at bottom left, #d2c1eb, #d2c1eb, transparent 35%);
  }
  30% {
    background: radial-gradient(circle at bottom left, #d2cdf5, #d2bce6, transparent 35%);
  }
  40% {
    background: radial-gradient(circle at bottom left, #d1d0f6, #d3b9e5, transparent 35%);
  }
  50% {
    background: radial-gradient(circle at bottom left, #d2d0f0, #d3bde1, transparent 35%);
  }
  60% {
    background: radial-gradient(circle at bottom left, #d2c1eb, #d2c1eb, transparent 35%);
  }
  70% {
    background: radial-gradient(circle at bottom left, #d3bde1, #d2d0f0, transparent 35%);
  }
  80% {
    background: radial-gradient(circle at bottom left, #d3b9e5, #d1d0f6, transparent 35%);
  }
  90% {
    background: radial-gradient(circle at bottom left, #d2bbf0, #d2cdfa, transparent 35%);
  }
  100% {
    background: radial-gradient(circle at bottom left, #d3b9e5, #d1d0f6, transparent 35%);
  }
}
@keyframes gradient {
  0% {
    background: radial-gradient(circle at bottom left, #d3b9e5, #d1d0f6, transparent 35%);
  }
  10% {
    background: radial-gradient(circle at bottom left, #d2bce6, #d2cdf5, transparent 35%);
  }
  20% {
    background: radial-gradient(circle at bottom left, #d2c1eb, #d2c1eb, transparent 35%);
  }
  30% {
    background: radial-gradient(circle at bottom left, #d2cdf5, #d2bce6, transparent 35%);
  }
  40% {
    background: radial-gradient(circle at bottom left, #d1d0f6, #d3b9e5, transparent 35%);
  }
  50% {
    background: radial-gradient(circle at bottom left, #d2d0f0, #d3bde1, transparent 35%);
  }
  60% {
    background: radial-gradient(circle at bottom left, #d2c1eb, #d2c1eb, transparent 35%);
  }
  70% {
    background: radial-gradient(circle at bottom left, #d3bde1, #d2d0f0, transparent 35%);
  }
  80% {
    background: radial-gradient(circle at bottom left, #d3b9e5, #d1d0f6, transparent 35%);
  }
  90% {
    background: radial-gradient(circle at bottom left, #d2bbf0, #d2cdfa, transparent 35%);
  }
  100% {
    background: radial-gradient(circle at bottom left, #d3b9e5, #d1d0f6, transparent 35%);
  }
}
.main-banner__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main-banner__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
}
.main-banner__text h1 {
  color: var(--color-text-dark-grey);
  padding-bottom: 25px;
  font-size: 3.1rem;
}
.main-banner__text .text__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}
.main-banner__email-form {
  position: relative;
  width: 420px;
}
.main-banner__email-form .main-form__email-input {
  background: -webkit-gradient(linear, left top, right top, color-stop(100%, rgba(255, 255, 255, 0.5)), color-stop(0%, rgb(255, 255, 255)));
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.5) 100%, rgb(255, 255, 255) 0%);
  width: 100%;
  outline: none;
  padding: 15px 16px;
  border-radius: 10px;
  border: none;
}
.main-banner__email-form .main-form__submit-button {
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 10px 20px;
  background-color: #fff;
  color: var(--blue-color);
  font-weight: 600;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.main-banner__email-form .main-form__submit-button:hover {
  padding: 8px 20px 12px 20px;
  -webkit-box-shadow: 0 0 30px rgba(80, 93, 236, 0.1568627451);
          box-shadow: 0 0 30px rgba(80, 93, 236, 0.1568627451);
}
.main-banner__email-form .main-form__submit-button:active {
  color: #2F3BB7;
}
.main-banner__text > p {
  color: #595959;
}
.main-banner__text > p a {
  color: var(--blue-color);
}
.main-banner__mouse {
  padding-top: 10vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  cursor: pointer;
}
.main-banner__mouse p {
  color: var(--color-text-while);
}
.main-banner__mouse img:hover {
  fill: #626EEB;
}
.main-banner__mouse p:hover {
  color: var(--hover-blue);
}
.main-banner__img img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.advantages {
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
}
.advantages h2 {
  color: var(--color-text-dark-grey);
  font-size: clamp(18px, 2.5vw, 36px);
}
.advantages__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 50px 1fr 50px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
}
.advantages__items-card:hover {
  -webkit-box-shadow: -5px 14px 20px rgba(0, 0, 0, 0.15);
          box-shadow: -5px 14px 20px rgba(0, 0, 0, 0.15);
}
.advantages__items-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  border-radius: 15px;
  gap: 25px;
}
.advantages__items-card .img_emoji {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.advantages__items-card .img_emoji h4 {
  font-size: clamp(18px, 1.3888888889vw, 20px);
  color: var(--color-text-dark-grey);
}

.how-we-work {
  background: radial-gradient(circle at bottom left, #D3B9E5, transparent 35%), radial-gradient(circle at 88% top, #D3B9E5, #D1D0F6, transparent 45%);
  -webkit-animation: gradientHowWeWork 10s infinite;
          animation: gradientHowWeWork 10s infinite;
}
@-webkit-keyframes gradientHowWeWork {
  0% {
    background: radial-gradient(circle at bottom left, #d3b9e5, transparent 35%), radial-gradient(circle at 88% top, #d3b9e5, #d1d0f6, transparent 45%);
  }
  10% {
    background: radial-gradient(circle at bottom left, #d2bce6, transparent 35%), radial-gradient(circle at 88% top, #d2bce6, #d2cdf5, transparent 45%);
  }
  20% {
    background: radial-gradient(circle at bottom left, #d2c1eb, transparent 35%), radial-gradient(circle at 88% top, #d2c1eb, #d2c1eb, transparent 45%);
  }
  30% {
    background: radial-gradient(circle at bottom left, #d2cdf5, transparent 35%), radial-gradient(circle at 88% top, #d2cdf5, #d2bce6, transparent 45%);
  }
  40% {
    background: radial-gradient(circle at bottom left, #d1d0f6, transparent 35%), radial-gradient(circle at 88% top, #d1d0f6, #d3b9e5, transparent 45%);
  }
  50% {
    background: radial-gradient(circle at bottom left, #d2d0f0, transparent 35%), radial-gradient(circle at 88% top, #d2d0f0, #d3bde1, transparent 45%);
  }
  60% {
    background: radial-gradient(circle at bottom left, #d2c1eb, transparent 35%), radial-gradient(circle at 88% top, #d2c1eb, #d2c1eb, transparent 45%);
  }
  70% {
    background: radial-gradient(circle at bottom left, #d3bde1, transparent 35%), radial-gradient(circle at 88% top, #d3bde1, #d2d0f0, transparent 45%);
  }
  80% {
    background: radial-gradient(circle at bottom left, #d3b9e5, transparent 35%), radial-gradient(circle at 88% top, #d3b9e5, #d1d0f6, transparent 45%);
  }
  90% {
    background: radial-gradient(circle at bottom left, #d2bbf0, transparent 35%), radial-gradient(circle at 88% top, #d2bbf0, #d2cdfa, transparent 45%);
  }
  100% {
    background: radial-gradient(circle at bottom left, #d3b9e5, transparent 35%), radial-gradient(circle at 88% top, #d3b9e5, #d1d0f6, transparent 45%);
  }
}
@keyframes gradientHowWeWork {
  0% {
    background: radial-gradient(circle at bottom left, #d3b9e5, transparent 35%), radial-gradient(circle at 88% top, #d3b9e5, #d1d0f6, transparent 45%);
  }
  10% {
    background: radial-gradient(circle at bottom left, #d2bce6, transparent 35%), radial-gradient(circle at 88% top, #d2bce6, #d2cdf5, transparent 45%);
  }
  20% {
    background: radial-gradient(circle at bottom left, #d2c1eb, transparent 35%), radial-gradient(circle at 88% top, #d2c1eb, #d2c1eb, transparent 45%);
  }
  30% {
    background: radial-gradient(circle at bottom left, #d2cdf5, transparent 35%), radial-gradient(circle at 88% top, #d2cdf5, #d2bce6, transparent 45%);
  }
  40% {
    background: radial-gradient(circle at bottom left, #d1d0f6, transparent 35%), radial-gradient(circle at 88% top, #d1d0f6, #d3b9e5, transparent 45%);
  }
  50% {
    background: radial-gradient(circle at bottom left, #d2d0f0, transparent 35%), radial-gradient(circle at 88% top, #d2d0f0, #d3bde1, transparent 45%);
  }
  60% {
    background: radial-gradient(circle at bottom left, #d2c1eb, transparent 35%), radial-gradient(circle at 88% top, #d2c1eb, #d2c1eb, transparent 45%);
  }
  70% {
    background: radial-gradient(circle at bottom left, #d3bde1, transparent 35%), radial-gradient(circle at 88% top, #d3bde1, #d2d0f0, transparent 45%);
  }
  80% {
    background: radial-gradient(circle at bottom left, #d3b9e5, transparent 35%), radial-gradient(circle at 88% top, #d3b9e5, #d1d0f6, transparent 45%);
  }
  90% {
    background: radial-gradient(circle at bottom left, #d2bbf0, transparent 35%), radial-gradient(circle at 88% top, #d2bbf0, #d2cdfa, transparent 45%);
  }
  100% {
    background: radial-gradient(circle at bottom left, #d3b9e5, transparent 35%), radial-gradient(circle at 88% top, #d3b9e5, #d1d0f6, transparent 45%);
  }
}
.how-we-work__slide {
  display: none;
  -webkit-animation: slideFadeIn 0.4s ease;
          animation: slideFadeIn 0.4s ease;
}
.how-we-work .acting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
@-webkit-keyframes slideFadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
}
@keyframes slideFadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
}
.how-we-work__scroll p {
  color: var(--color-text-dark-grey);
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
.how-we-work__scroll .active {
  color: var(--blue-color);
}
.how-we-work__img img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
.how-we-work__content h2 {
  padding: 50px 0 30px;
  font-size: 2rem;
  color: var(--color-text-dark-grey);
}
.how-we-work__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4%;
}
.how-we-work__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  width: 40%;
}
.how-we-work__text h3 {
  font-size: 2rem;
  color: var(--color-text-dark-grey);
}
.how-we-work__scroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  cursor: pointer;
}
.how-we-work__scroll p:not(:last-child) {
  position: relative;
  padding-right: 30px;
}
.how-we-work__scroll p:not(:last-child)::before {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(90deg);
          transform: translateY(-50%) rotate(90deg);
  width: 1px;
  height: 20px;
  background: #fff;
  border-radius: 2px;
}
.how-we-work__btn {
  padding-top: 3vw;
}
.how-we-work__btn .button {
  width: 200px;
}

.tariff h2 {
  padding: 50px 0;
  color: var(--color-text-dark-grey);
  font-size: 2rem;
}
.tariff__variant {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  padding-bottom: 10%;
}
.tariff__card {
  border-radius: 15px;
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  -webkit-transform: 2s easy;
          transform: 2s easy;
  background-color: #F8F8F8;
}
.tariff__card:hover {
  -webkit-box-shadow: -5px 14px 20px rgba(0, 0, 0, 0.15);
          box-shadow: -5px 14px 20px rgba(0, 0, 0, 0.15);
}
.tariff__price {
  background-color: #fff;
  padding: 20px;
}
.tariff__price h4 {
  color: var(--color-text-dark-grey);
  font-size: clamp(24px, 1.6666666667vw, 24px);
}
.tariff__price p {
  font-size: clamp(24px, 1.6666666667vw, 24px);
}
.tariff__price span {
  color: var(--blue-color);
}
.tariff__feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  padding-bottom: 20px;
}
.tariff__card-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.tariff__card-info a {
  padding: 14px 40px;
  border-radius: 15px;
  color: var(--blue-color);
  text-align: center;
  background-color: #fff;
}
.tariff__card-info a:hover {
  -webkit-box-shadow: 0 10px 10px rgba(80, 93, 236, 0.1568627451);
          box-shadow: 0 10px 10px rgba(80, 93, 236, 0.1568627451);
}

.mailing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.mailing img {
  width: 70%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
.mailing__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  width: 35%;
}
.mailing__text h2 {
  color: var(--color-text-dark-grey);
  font-size: 3rem;
}
.mailing__form {
  position: relative;
}
.mailing__form .mailing__input {
  background: #F2F2F2;
  width: 100%;
  padding: 18px 20px;
  width: 90%;
  border-radius: 10px;
  border: none;
}
.mailing__form .mailing__button {
  position: absolute;
  right: 10%;
  top: 10%;
  padding: 10px 20px;
  background-color: var(--blue-color);
  color: var(--color-text-while);
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.mailing__form .mailing__button:hover {
  padding: 8px 20px 12px 20px;
  -webkit-box-shadow: 0 0 30px rgba(80, 93, 236, 0.2745098039);
          box-shadow: 0 0 30px rgba(80, 93, 236, 0.2745098039);
}
.mailing__text p {
  line-height: 12px;
  color: #595959;
  font-size: 0.6rem;
}
.mailing__text p a {
  color: var(--blue-color);
}

.accordion {
  padding: 50px 0;
  background: radial-gradient(circle at top right, rgb(211, 185, 229), transparent 50%), radial-gradient(circle at bottom left, rgba(211, 185, 229, 0.6), rgba(209, 208, 246, 0.7), transparent 30%);
  -webkit-animation: gradientAccordion 10s infinite;
          animation: gradientAccordion 10s infinite;
}
@-webkit-keyframes gradientAccordion {
  0% {
    background: radial-gradient(circle at top right, #d3b9e5, transparent 50%), radial-gradient(circle at bottom left, rgba(211, 185, 229, 0.6), rgba(209, 208, 246, 0.7), transparent 30%);
  }
  10% {
    background: radial-gradient(circle at top right, #d2bce6, transparent 50%), radial-gradient(circle at bottom left, rgba(210, 188, 230, 0.6), rgba(210, 205, 245, 0.7), transparent 30%);
  }
  20% {
    background: radial-gradient(circle at top right, #d2c1eb, transparent 50%), radial-gradient(circle at bottom left, rgba(210, 193, 235, 0.6), rgba(210, 193, 235, 0.7), transparent 30%);
  }
  30% {
    background: radial-gradient(circle at top right, #d2cdf5, transparent 50%), radial-gradient(circle at bottom left, rgba(210, 205, 245, 0.6), rgba(210, 188, 230, 0.7), transparent 30%);
  }
  40% {
    background: radial-gradient(circle at top right, #d1d0f6, transparent 50%), radial-gradient(circle at bottom left, rgba(209, 208, 246, 0.6), rgba(211, 185, 229, 0.7), transparent 30%);
  }
  50% {
    background: radial-gradient(circle at top right, #d2d0f0, transparent 50%), radial-gradient(circle at bottom left, rgba(210, 208, 240, 0.6), rgba(211, 189, 225, 0.7), transparent 30%);
  }
  60% {
    background: radial-gradient(circle at top right, #d2c1eb, transparent 50%), radial-gradient(circle at bottom left, rgba(210, 193, 235, 0.6), rgba(210, 193, 235, 0.7), transparent 30%);
  }
  70% {
    background: radial-gradient(circle at top right, #d3bde1, transparent 50%), radial-gradient(circle at bottom left, rgba(211, 189, 225, 0.6), rgba(210, 208, 240, 0.7), transparent 30%);
  }
  80% {
    background: radial-gradient(circle at top right, #d3b9e5, transparent 50%), radial-gradient(circle at bottom left, rgba(211, 185, 229, 0.6), rgba(209, 208, 246, 0.7), transparent 30%);
  }
  90% {
    background: radial-gradient(circle at top right, #d2bbf0, transparent 50%), radial-gradient(circle at bottom left, rgba(210, 187, 240, 0.6), rgba(210, 205, 250, 0.7), transparent 30%);
  }
  100% {
    background: radial-gradient(circle at top right, #d3b9e5, transparent 50%), radial-gradient(circle at bottom left, rgba(211, 185, 229, 0.6), rgba(209, 208, 246, 0.7), transparent 30%);
  }
}
@keyframes gradientAccordion {
  0% {
    background: radial-gradient(circle at top right, #d3b9e5, transparent 50%), radial-gradient(circle at bottom left, rgba(211, 185, 229, 0.6), rgba(209, 208, 246, 0.7), transparent 30%);
  }
  10% {
    background: radial-gradient(circle at top right, #d2bce6, transparent 50%), radial-gradient(circle at bottom left, rgba(210, 188, 230, 0.6), rgba(210, 205, 245, 0.7), transparent 30%);
  }
  20% {
    background: radial-gradient(circle at top right, #d2c1eb, transparent 50%), radial-gradient(circle at bottom left, rgba(210, 193, 235, 0.6), rgba(210, 193, 235, 0.7), transparent 30%);
  }
  30% {
    background: radial-gradient(circle at top right, #d2cdf5, transparent 50%), radial-gradient(circle at bottom left, rgba(210, 205, 245, 0.6), rgba(210, 188, 230, 0.7), transparent 30%);
  }
  40% {
    background: radial-gradient(circle at top right, #d1d0f6, transparent 50%), radial-gradient(circle at bottom left, rgba(209, 208, 246, 0.6), rgba(211, 185, 229, 0.7), transparent 30%);
  }
  50% {
    background: radial-gradient(circle at top right, #d2d0f0, transparent 50%), radial-gradient(circle at bottom left, rgba(210, 208, 240, 0.6), rgba(211, 189, 225, 0.7), transparent 30%);
  }
  60% {
    background: radial-gradient(circle at top right, #d2c1eb, transparent 50%), radial-gradient(circle at bottom left, rgba(210, 193, 235, 0.6), rgba(210, 193, 235, 0.7), transparent 30%);
  }
  70% {
    background: radial-gradient(circle at top right, #d3bde1, transparent 50%), radial-gradient(circle at bottom left, rgba(211, 189, 225, 0.6), rgba(210, 208, 240, 0.7), transparent 30%);
  }
  80% {
    background: radial-gradient(circle at top right, #d3b9e5, transparent 50%), radial-gradient(circle at bottom left, rgba(211, 185, 229, 0.6), rgba(209, 208, 246, 0.7), transparent 30%);
  }
  90% {
    background: radial-gradient(circle at top right, #d2bbf0, transparent 50%), radial-gradient(circle at bottom left, rgba(210, 187, 240, 0.6), rgba(210, 205, 250, 0.7), transparent 30%);
  }
  100% {
    background: radial-gradient(circle at top right, #d3b9e5, transparent 50%), radial-gradient(circle at bottom left, rgba(211, 185, 229, 0.6), rgba(209, 208, 246, 0.7), transparent 30%);
  }
}
.accordion__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.accordion__items h2 {
  color: var(--color-text-dark-grey);
  font-size: 2rem;
  padding-bottom: 30px;
}
.accordion__box {
  border-radius: 15px;
}
.accordion__box .label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 20px;
  border-radius: 16px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.349)), color-stop(30%, rgb(255, 255, 255)));
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.349) 0%, rgb(255, 255, 255) 30%);
}
.accordion__box .label p {
  color: var(--color-text-dark-grey);
  font-size: 2rem;
  font-weight: 600;
}
.accordion__box .label img {
  cursor: pointer;
}
.accordion__box .content {
  padding: 16px 20px;
  color: var(--color-text-gray);
  font-size: 1rem;
  line-height: 25px;
  border-radius: 0 0 15px 15px;
  background: -webkit-gradient(linear, left top, right top, from(rgb(255, 255, 255)), color-stop(30%, rgba(255, 255, 255, 0.185)));
  background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.185) 30%);
}

.feedback__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5vw;
}
.feedback img {
  width: 40%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
.feedback__form-text {
  max-width: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.feedback__form-text h2 {
  color: var(--color-text-dark-grey);
  font-size: 2rem;
}
.feedback form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}
.feedback__form-input input {
  padding: 20px;
  background-color: #f2f2f2;
  outline: none;
  border: none;
  width: 450px;
  border-radius: 10px;
}
.feedback__form-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.feedback__form-button p {
  font-size: 0.6rem;
}
.feedback__form-button p a {
  color: var(--blue-color);
}

footer {
  border-radius: 0 0 15px 15px;
  background-color: var(--blue-color);
  color: var(--color-text-while);
  padding: 20px 40px;
}
footer .footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .footer__item .footer__text h2 {
  font-size: clamp(14px, 1.25vw, 18px);
}
footer .footer__item .footer__text p {
  color: var(--color-text-while);
  font-size: clamp(14px, 1.25vw, 18px);
}
footer .footer__item .footer__return-to-top {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
footer .footer__item .footer__return-to-top p {
  color: var(--color-text-while);
}

.reviews {
  background: radial-gradient(circle at bottom right, #D0C3EE, transparent 35%), radial-gradient(circle at 88% top, #d3b9e5, transparent 35%);
  padding: 20px 0;
  -webkit-animation: gradientRewievs 10s infinite;
          animation: gradientRewievs 10s infinite;
}
@-webkit-keyframes gradientRewievs {
  0% {
    background: radial-gradient(circle at bottom right, #d0c3ee, transparent 35%), radial-gradient(circle at 88% top, #d3b9e5, transparent 35%);
  }
  10% {
    background: radial-gradient(circle at bottom right, #d1c6f0, transparent 35%), radial-gradient(circle at 88% top, #d2bce6, transparent 35%);
  }
  20% {
    background: radial-gradient(circle at bottom right, #d2cbf2, transparent 35%), radial-gradient(circle at 88% top, #d2c1eb, transparent 35%);
  }
  30% {
    background: radial-gradient(circle at bottom right, #d2d0f5, transparent 35%), radial-gradient(circle at 88% top, #d2cdf5, transparent 35%);
  }
  40% {
    background: radial-gradient(circle at bottom right, #d1d0f6, transparent 35%), radial-gradient(circle at 88% top, #d1d0f6, transparent 35%);
  }
  50% {
    background: radial-gradient(circle at bottom right, #d2d0f2, transparent 35%), radial-gradient(circle at 88% top, #d2d0f0, transparent 35%);
  }
  60% {
    background: radial-gradient(circle at bottom right, #d2cbf2, transparent 35%), radial-gradient(circle at 88% top, #d2c1eb, transparent 35%);
  }
  70% {
    background: radial-gradient(circle at bottom right, #d3cdef, transparent 35%), radial-gradient(circle at 88% top, #d3bde1, transparent 35%);
  }
  80% {
    background: radial-gradient(circle at bottom right, #d0c3ee, transparent 35%), radial-gradient(circle at 88% top, #d3b9e5, transparent 35%);
  }
  90% {
    background: radial-gradient(circle at bottom right, #d1c6f4, transparent 35%), radial-gradient(circle at 88% top, #d2bbf0, transparent 35%);
  }
  100% {
    background: radial-gradient(circle at bottom right, #d0c3ee, transparent 35%), radial-gradient(circle at 88% top, #d3b9e5, transparent 35%);
  }
}
@keyframes gradientRewievs {
  0% {
    background: radial-gradient(circle at bottom right, #d0c3ee, transparent 35%), radial-gradient(circle at 88% top, #d3b9e5, transparent 35%);
  }
  10% {
    background: radial-gradient(circle at bottom right, #d1c6f0, transparent 35%), radial-gradient(circle at 88% top, #d2bce6, transparent 35%);
  }
  20% {
    background: radial-gradient(circle at bottom right, #d2cbf2, transparent 35%), radial-gradient(circle at 88% top, #d2c1eb, transparent 35%);
  }
  30% {
    background: radial-gradient(circle at bottom right, #d2d0f5, transparent 35%), radial-gradient(circle at 88% top, #d2cdf5, transparent 35%);
  }
  40% {
    background: radial-gradient(circle at bottom right, #d1d0f6, transparent 35%), radial-gradient(circle at 88% top, #d1d0f6, transparent 35%);
  }
  50% {
    background: radial-gradient(circle at bottom right, #d2d0f2, transparent 35%), radial-gradient(circle at 88% top, #d2d0f0, transparent 35%);
  }
  60% {
    background: radial-gradient(circle at bottom right, #d2cbf2, transparent 35%), radial-gradient(circle at 88% top, #d2c1eb, transparent 35%);
  }
  70% {
    background: radial-gradient(circle at bottom right, #d3cdef, transparent 35%), radial-gradient(circle at 88% top, #d3bde1, transparent 35%);
  }
  80% {
    background: radial-gradient(circle at bottom right, #d0c3ee, transparent 35%), radial-gradient(circle at 88% top, #d3b9e5, transparent 35%);
  }
  90% {
    background: radial-gradient(circle at bottom right, #d1c6f4, transparent 35%), radial-gradient(circle at 88% top, #d2bbf0, transparent 35%);
  }
  100% {
    background: radial-gradient(circle at bottom right, #d0c3ee, transparent 35%), radial-gradient(circle at 88% top, #d3b9e5, transparent 35%);
  }
}
.reviews__inner {
  position: relative;
  height: 900px;
  margin: 40px 0;
}
.reviews__card {
  position: absolute;
  border-radius: 15px;
  width: 630px;
  background: #fff;
}
.reviews__card .card__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 20px 15px 20px;
  border-bottom: 1px solid #eee;
}
.reviews__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}
.reviews__card__content {
  background-color: #F9F9F9;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.reviews__card:nth-child(1) {
  top: 3vw;
  left: 20vw;
  z-index: 4;
}
.reviews__card:nth-child(4) {
  top: 8vw;
  left: 0;
  z-index: 3;
}
.reviews__card:nth-child(3) {
  bottom: 13vw;
  left: 10vw;
  z-index: 1;
}
.reviews__card:nth-child(2) {
  bottom: 22vw;
  right: 0;
  z-index: 2;
}
.reviews__button {
  color: var(--blue-color);
  padding: 12px 20px;
  background-color: var(--color-text-while);
  border-radius: 15px;
  width: 300px;
  margin-left: auto;
  text-align: center;
  margin-bottom: 50px;
  font-weight: 600;
  cursor: pointer;
}
.reviews__button:hover {
  padding: 10px 20px 14px 20px;
  -webkit-box-shadow: 0 0 30px rgba(80, 93, 236, 0.1568627451);
          box-shadow: 0 0 30px rgba(80, 93, 236, 0.1568627451);
}

@media (max-width: 768px) {
  html {
    font-size: 15px;
  }
  .header__logo img {
    display: inline;
    cursor: pointer;
  }
  .header__logo .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__nav nav {
    display: none;
  }
  .header__controls .controls__languages {
    display: none;
  }
  .main-banner {
    background: radial-gradient(circle at left 75%, #D3B9E5, #D1D0F6, transparent 55%);
  }
  .main-banner__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .main-banner__mouse {
    display: none;
  }
  .main-banner .text__container {
    width: 500px;
  }
  .advantages__items {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .advantages__items-card {
    max-width: 100%;
  }
  .how-we-work {
    background: radial-gradient(circle at bottom left, #D3B9E5, transparent 35%), radial-gradient(circle at right 60%, #D3B9E5, #D1D0F6, transparent 45%);
    padding-bottom: 50px;
  }
  .how-we-work__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
  .how-we-work__text {
    gap: 30px;
    width: auto;
  }
  .tariff__variant {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .reviews__inner {
    padding-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
  .reviews__card {
    position: static;
  }
  .reviews__button {
    display: none;
  }
  .mailing {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }
  .mailing__text {
    gap: 30px;
    width: 90%;
  }
  .mailing__text .mailing__form {
    width: 80%;
  }
  .feedback {
    padding: 30px 0;
  }
  .feedback__inner img {
    display: none;
  }
  .feedback__form_text form .form_input input {
    width: 600px;
  }
}
@media (max-width: 375px) {
  .container {
    background-color: var(--color-body-backgroung);
    padding: 10px;
  }
  .padding {
    padding: 14px 20px;
  }
  header .header_main .header_logo_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .header_main .header_nav nav {
    display: none;
  }
  header .header_main .header_controls img {
    display: inline;
    cursor: pointer;
  }
  header .header_main .header_controls a {
    display: none;
  }
  header .header_main .header_controls .language {
    display: none;
  }
  .main_banner .main_banner_container img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .main_banner .main_banner_container .main_banner_text .email_form input {
    width: 100%;
  }
  .main_banner .main_banner_container .main_banner_text .email_form button {
    left: 190px;
  }
  .advantages h2 {
    font-size: 20px;
  }
  .advantages .advantages_items {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .advantages .advantages_items .advantages_items_card {
    max-width: 100%;
  }
  .advantages .advantages_items .advantages_items_card p {
    font-size: 14px;
  }
  .how_we_work {
    background: radial-gradient(circle at bottom left, #D3B9E5, transparent 35%), radial-gradient(circle at right 60%, #D3B9E5, #D1D0F6, transparent 45%);
    height: auto;
    padding-bottom: 50px;
  }
  .how_we_work .how_we_work_content .how_we_work_item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
  .how_we_work .how_we_work_content .how_we_work_item .how_we_work_img img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .how_we_work .how_we_work_content .how_we_work_item .how_we_work_content_text {
    gap: 30px;
    width: auto;
  }
  .tariff .variant_tariff {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 30px;
  }
  .tariff .variant_tariff .tariff_card {
    width: 100%;
  }
  .reviews .reviews_item .reviews_card {
    width: 100%;
  }
  .reviews .reviews_item .reviews_card p {
    font-size: 14px;
  }
  .reviews .reviews_button {
    display: none;
  }
  .mailing {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mailing img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .mailing .mailing_text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
  .mailing .mailing_text h2 {
    font-size: clamp(18px, 2.5vw, 36px);
  }
  .mailing .mailing_text .email_form input {
    width: 100%;
  }
  .mailing .mailing_text .email_form .submit_button {
    right: 24px;
  }
  .feedback .feedback_container img {
    display: none;
  }
  .feedback .feedback_container .form_text form .form_input input {
    width: 100%;
  }
  .feedback .feedback_container .form_text .form_button {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .feedback .feedback_container .form_text .form_button button {
    width: 100%;
  }
  .feedback .feedback_container .form_text .form_button p {
    width: 90%;
  }
  footer .footer_text h2 {
    font-size: clamp(12px, 1.25vw, 18px);
    font-weight: 200;
  }
  footer .footer_text p {
    font-size: clamp(10px, 1.25vw, 18px);
  }
  footer .Return_to_top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 2px;
  }
  footer .Return_to_top p {
    font-size: clamp(10px, 1.25vw, 18px);
  }
}