@font-face {
  font-family:Visuelt Pro;
  src: url('/assets/fonts/VisueltPro-Regular.woff2');
}

body {
  background-color: var(--color-body-backgroung);
  font-size: 18px;
  font-family: Visuelt Pro;
}

a{
  text-decoration: none;
}
.wrapper{
  background-color: var(--wrapper-color);
  border-radius: 15px;

}

.container{
  background-color: var(--color-body-backgroung);
  padding: 20px;
}

.padding{
  padding: 28px 56px;
}

p{
  color: var(--color-text-gray);
  line-height: 25px;
}

.button{
  color: var(--color-text-while);
  padding: 12px 20px;
  background-color: var(--blue-color);
  border-radius: 15px;
  cursor: pointer;
}

button{
  border: none;
}