body {
  background-color: var(--color-body-backgroung);
}

a{
  text-decoration: none;
}
.wrapper{
  background-color: var(--wraapper-color);
  border-radius: 15px;

}

.container{
  background-color: var(--color-body-backgroung);
  padding: 20px;
}

.padding{
  padding: 28px 56px;
}

p{
  color: var(--color-text-gray);
}